@import 'bootstrap';

html, body {   height: 100%;   margin: 0;   padding: 0;   background-color: rgb(222, 242, 245); /* Replace with the path to your image */  background-size: cover;   background-repeat: no-repeat;   background-attachment: fixed; }
